<h1>Black-Scholes Model Calculator</h1>

<form class="form">
  <h4>Please enter the below information</h4>
  <div>
    <p>Stock Price:</p>
    <input type="text" name="s">
  </div>
  <div>
    <p>Exercice Price</p>
    <input type="text" name="e">
  </div>
  <div>
    <p>Time to Maturity</p>
    <input type="text" name="t">
  </div>
  <div>
    <p>Annualized risk-free Interest Rate</p>
    <input type="text" name="i">
  </div>
  <div>
    <p>Annualized Volatility</p>
    <input type="text" name="v">
  </div>
  <div>
    <input type="submit" name="calculate" value="Calculate">
  </div>
</form>
