body {
  background-color: white;
  color: #00ffff;

  font-family: monospace;
  font-size: 1.5em;
  padding: 10px;
}

form {
  background-color: grey;
  width: 500px;
  border: 1px solid #FFffff;
  padding: 25px;
}
